@import '../../styles/colors.scss';

.SearchMovie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 57px;
  max-width: 960px;
  margin: 0 auto;

  & .Button {
    margin-left: 14px;
    width: 233px;
  }
}