@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: none;

  .header-logo {
    @include montserratMedium(20px, $pink);
    & span {
      @include montserratNormalBlack(20px, $pink);
    }
  }

  .header-button {
    width: 177px;
    height: 46px;
    border-radius: 4px;
    border-color: $gray;
    background-color: $gray;
    text-transform: uppercase;

    @include montserratSemiBold(20px, $pink);

    &:hover {
      border-color: $pink;
      background-color: $pink;
      color: $white;
    }
  }
}