@import './colors.scss';
@import './fonts.scss';

.Input {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  @include montserratRegular(20px, $white);
  transition: all .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  cursor: text;

  &.default {
    border: 1px solid $gray-4;
    background-color: $gray-1;

    &:focus {
      outline: 1px solid $pink;
    }
  }
}